
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.ct-toast {
  padding: 18px 20px !important;
  opacity: 1;
  margin-top: 15px;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0px 0px 24px rgba(146, 146, 146, 0.08) !important;
  border-radius: 8px;

  svg {
    font-size: 1.2rem;
  }

  &-error {
    color: #383A3C;
    border: 1px solid #FF5A4E !important;
    background: #FFF5F5 !important;

    svg {
      color: #D92D20;
    }
  }

  &-success {
    border-color: #1c9b88 !important;
    color: #0E4E44;
    background: #F3FFFD !important;
    border: 1px solid #2FCFB7;

    svg {
      color: #1c9b88 !important;
    }
  }

  .ct-heading {
    color: black;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
  }

  .ct-text {
    line-height: 1.25rem;
  }
  @media (max-width: 1024px) { 
  padding: 14px !important;
  margin-top: 8px !important;

   }	
}


.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed #e5e9f2;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 7px 14px;
  border: none;
  outline: none;
  transition: 0.3s;
  font-size: 14px;
  height: auto;
  border-radius: 4px;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  border: none;
  outline: 1px solid #010101;
}