@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  transition: background 500ms;
  @apply text-base;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-color);
  }
}

.container {
  @apply mx-auto px-5 md:px-6 lg:px-8 max-w-screen-2xl;
}

.items-center,
.justify-between,.justify-center {
  @apply flex;
}

ul li {
  padding-left: 0 !important;
}

button,
.button,
[type='submit'] {
  @apply p-3 bg-primary rounded-[32px] text-white font-bold border border-primary flex items-center justify-center gap-3 relative disabled:opacity-50 disabled:cursor-not-allowed;
  height: 52px;
  padding: 0 24px;

  &.other {
    @apply text-secondary border-secondary bg-transparent;
  }

  &.outlined {
    @apply bg-transparent text-primary border-primary transition-all duration-700;

    &:hover {
      @apply bg-primary bg-opacity-20;
    }
  }

  @media (max-width: 768px) {
    @apply text-sm;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #D0D5DD
}

::-webkit-scrollbar-thumb:hover {
  background: #86888c
}
